.first
	display: block
	padding: 90px 0
	background-image: url("../img/first_images.png")
	@include bacground-size(cover)
	background-repeat: no-repeat
	background-position: center	
	h1
		font-size: 48px
		font-weight: bold
		text-transform: uppercase
	p
		font-size: 28px
		color: #FFF
	.textLine
		display: block
		width: 201px
		height: 7px
		background-image: url('../img/Line.png') 
		background-repeat: no-repeat
		@include bacground-size(100%)
		margin: 20px 0
	&__input
		background: $trans
		width: 279px
		height: 49px
		@include border-radius(5px)
		@include background-clip(padding-box)
		border: 1px solid #fff
		display: inline-block
		color: #FFF
		font-size: 16px 
		padding: 0 20px
	&__sub
		display: inline-block
		font-size: 20px
		font-weight: bold
		color: #FFF
		background: linear-gradient(to bottom, #ffc06b, #ff7d01)
		@include text-shadow(0 1px 1px rgba(0,0,0,.72))
		width: 239px
		height: 48px
		border: 1px solid #ff7900
		@include border-radius(5px)
		@include background-clip(padding-box)	
		margin-left: 15px
		&:hover, &:active, &:focus
			outline: none 	
	.calc__check
		display: table
		margin-bottom: 10px
		label
			color: #fff
			font-size: 14px
			display: table-cell
			vertical-align: middle
			font-weight: 500
			padding-left: 25px
	.calc__submit
		@extend .first__sub
		width: 296px
		height: 61px
		margin-left: 0
.second
	display: block
	position: relative
	padding: 60px 0
	-webkit-box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.25)
	-moz-box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.25)
	box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.25)
	h1
		width: 85%
		padding-left: 15px
		display: block
		color: #272d32
		font-size: 48px
	&__underText
		display: block
		padding-left: 15px
		margin: 40px 15px
		width: 100px
		height: 1px
		background-image: linear-gradient(to right, #4e5860 0%, #ff7e00 100%)
	.second__p__small
		font-size: 29px
	p
		color: #272727
		font-size: 32px
	&__engine
		width: 682px
		height: 514px
		background-image: url('../img/engine.png') 
		background-position: center
		background-repeat: no-repeat






 	
