html
	font-family: Helvetica 
	min-width: 1170px 
.container
	width: 1170px	
a
	text-decoration: none
a:hover, a:active, a:focus
	outline: none
	text-decoration: none
.orange
	color: $orange 
	
.up
	display: none
	width: 41px
	height: 40px
	background-image: url("../img/ti-angle-up.png") 
	position: fixed
	bottom: 125px
	right: 10%
	z-index: 999 
	cursor: pointer

	
